useDynLib(bigIntegerAlgos, .registration=TRUE)

importMethodsFrom("methods", coerce)
importFrom("methods",
           setOldClass, setGeneric, setMethod)

export(getDivisors,
       print.bigz,
       as.bigz,
       multPolyQuadSieve,
       quadResidue)